@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

@import 'mixins';

@font-face {
  font-family: 'DS Digital Bold';
  src: url('/assets/fonts/DS-DIGIB.TTF');
}

body {
  background: url('/assets/images/bg.png');
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@import 'header';
@import 'pay';
@import 'goodies';